:root {
   
    --neon-red: #FF3131;
    --dark-bg: #121212;
    --white-wh: white;
    --accent-orange: #FF6A00;




}




.streetFoodDish{
    background-color: var(--neon-red);
}






.TripleBar {
    background-color: black;
}



.streetFoodDish h2 {
    font-size: 30px;

}

.basket-field {
    background-color: var(--dark-bg);
}


.menuTemplate {
    background: #F8E4D4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.basket-item {

    background: #F8E4D4;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

}





.headlineBasket {
    color: var(--white-wh);
}

.priceField {
    color: var(--white-wh);
}



.buttonSet {
    background-color: var(--neon-red);
    color: var(--white-wh);

}



.footer {
    background-color: var(--neon-red);

}